#mapid 
{ 
	height: 600px;
	width: auto;
}


body
{
    word-wrap: break-word;
}

p
{
    font-size: 0.9em;
}

.jumbotron
{
    background-color: #fad3cc;
    font-family: 'Poppins', sans-serif;
}

.jumbotron h1
{
    font-weight: 900;
}

.jumbotron p
{
    color: #5c5c5c;
}

.jumbotron .btn-primary
{
    background-color: #0a727e;
    border-color: #0a727e;
    font-weight: 500;
}

#main-page-choices img
{
    height: 250px;
    width: auto;
    margin-bottom: 15px;
}

#main-page-choices p
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #5c5c5c;
    margin-top: 15px;
}

.button-violet
{
    background-color: #8a0967;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1.2em;

}

.button-violet:hover
{
    background-color: white;
    font-weight: 500;
    border: 2px solid #8a0967;
    text-decoration: none;
    color: #8a0967;
}

#main-page-choices h3
{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.body-img
{
    background-color: #fffafa;
}

#board
{
    height: 600px;
    width: auto;
    overflow: auto;
}

.red
{
    color: #e62e00;
}

.hover:hover
{
    cursor: pointer;
    color: #0a727e;
}

.error
{
    color: #e62e00;
    font-weight: bold;
    text-align: center;
}

.login-form
{
    padding-top: 10%;
}

.city-filter
{
    padding-bottom: 1em;
    font-size: 1.2em;
}

.city-filter:hover
{
    cursor: pointer;
    color: #e62e00;
}

.popup .leaflet-popup-tip,
.popup .leaflet-popup-content-wrapper
{
    background: #00a393;
    color: #ffffff;
    font-size: 1.5em;
}

.navbar-brand
{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.5em;
}

.nav-link
{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    color: #8a0967;
}