<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
	</head>
	<body>

	<nav th:insert="fragments/general.html :: navbar"> </nav>

	<section class="container mt-5">
		<div id="location-menu" role="group" class="btn-group d-flex justify-content-end">
			<button type="button" class="py-2 px-4 m-0">HOME</button>
			<button type="button" class="py-2 px-4 m-0">WORK</button>
		</div>
	</section>

	<section class="container">
		<div class="row">
			<div class="col-md-5 p-2 text-center justify-content-center"
				 id="board">
				<div class="d-flex justify-content-start">
					<div class="dropdown">
						<button class="btn-violet-outline dropdown-toggle py-2 px-4 m-0"
								type="button"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
								th:text="#{general.sort}">
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<button class="dropdown-item"
									th:each="sortOption : ${T(pl.zielinska.model.domain.SortingArgument).values()}"
									th:sortArg="${sortOption.name()}"
									th:onclick="javascript:sortAds(this.getAttribute('sortArg'));"
									th:text="#{${sortOption.getText()}}"></button>
						</div>
					</div>
				</div>
					<div id="boardWithAds" th:replace="fragments/board.html :: board"></div>
			</div>
			<div class="col-md-7">
				<div id="mapid"></div>
			</div>
		</div>
	</section>
	<div id="adModalContainer"></div>

	<footer th:insert="fragments/general.html :: footer"> </footer>
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/

    var y = /*[[${city.getY()}]]*/ 51.55;
    var x = /*[[${city.getX()}]]*/ 19.08;
    var zoom = /*[[${city.getZoom()}]]*/ 6;

    $(document).ready(function() {
    	showMap(y, x, zoom);
    });

	/*]]>*/
	</script>
	</body>
</html>
