<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
	</head>
	<body>

	<nav th:insert="fragments/general.html :: navbar"> </nav>

	<section class="container fixed-top mt-5">
		<div id="location-menu" role="group" class="btn-group d-flex justify-content-end">
			<button type="button" class="py-2 px-4 m-0">HOME</button>
			<button type="button" class="py-2 px-4 m-0">WORK</button>
		</div>
	</section>

	<section class="container content-map-page">
		<div class="row">
			<div class="col-md-5 p-2 text-center justify-content-center"
				 id="board">
				<div class="d-flex justify-content-start">
					<div class="dropdown">
						<button class="btn-violet-outline dropdown-toggle py-2 px-4 m-0"
								type="button"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
								th:text="#{general.sort}">
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<button class="dropdown-item">Action</button>
							<button class="dropdown-item">Another action</button>
							<button class="dropdown-item">Something else here</button>
						</div>
					</div>
				</div>
                <div th:each="ad : ${ads}">
                    <div class="ad rounded my-2">
						<div class="p-2">
							<h5 th:text="${ad.title}"
								class="hover"
								th:onclick="'firePopup(\'' + ${ad.id} + '\'); toggle(\'ad' + ${ad.id} + '\');'">
							</h5>
						</div>
                        <div style="display: none;"
                             th:id="'ad' + ${ad.id}"
                             class="p-2 toggleable">
							<div class="p-2">
								<div class="d-flex flex-row">
									<div th:each="tag : ${ad.tags}">
										<span class="tag p-1 mx-1"
                                              th:text="'#' + ${tag}"></span>
									</div>
								</div>
							</div>
							<div class="py-2">
                                <button type="button"
                                        class="btn btn-info"
                                        th:text="#{general.button.more}"
										th:onclick="'openAdModal(\'' + ${ad.id} + '\')'"></button>
							</div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-7">
				<div id="mapid"></div>
			</div>
		</div>
	</section>
	<div id="adModalContainer"></div>

	<footer th:insert="fragments/general.html :: footer"> </footer>
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/

    var y = /*[[${city.getY()}]]*/ 51.55;
    var x = /*[[${city.getX()}]]*/ 19.08;
    var zoom = /*[[${city.getZoom()}]]*/ 6;

    $(document).ready(function() {
    	showMap(y, x, zoom);
    });

	/*]]>*/
	</script>
	</body>
</html>
