<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
    <nav th:insert="fragments/general.html :: navbar"></nav>
    <section id="main-page-jumbotron" class="container pt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4"
                th:text="#{mainpage.jumbotron.title}"></h1>
            <p class="lead"
               th:text="#{mainpage.jumbotron.subtitle}"></p>
            <a class="btn btn-primary btn-lg"
               href="#main-page-choices"
               role="button"
               th:text="#{mainpage.jumbotron.button}"></a>
        </div>
    </section>
    <section id="main-page-choices" class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <a th:href="@{/outdoor-search}">
                    <img th:src="@{/visual/map.svg}" alt="Map icon"/>
                </a>
                <h3 th:text="#{mainpage.outdoor.search.title}"></h3>
                <p th:text="#{mainpage.outdoor.search.text}"></p>
                <a  class="d-block button-violet py-1 my-2"
                    th:href="@{/outdoor-search}"
                    th:text="#{mainpage.outdoor.search.button}">
                </a>
            </div>
            <div class="col-md-4">
                <a th:href="@{/outdoor-search}">
                    <img th:src="@{/visual/wallet.svg}" alt="Wallet icon"/>
                </a>
                <h3 th:text="#{mainpage.store.title}"></h3>
                <p th:text="#{mainpage.store.text}"></p>
                <a  class="d-block button-violet py-1 my-2"
                    th:href="@{/outdoor-search}"
                    th:text="#{mainpage.store.button}">
                </a>
            </div>
            <div class="col-md-4">
                <a th:href="@{/outdoor-search}">
                    <img th:src="@{/visual/armchair.svg}" alt="Armchair icon"/>
                </a>
                <h3 th:text="#{mainpage.articles.title}"></h3>
                <p th:text="#{mainpage.articles.text}"></p>
                <a class="d-block button-violet py-1 my-2"
                   th:href="@{/outdoor-search}"
                   th:text="#{mainpage.articles.button}">
                </a>
            </div>
        </div>
    </section>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>