<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body class="body-img">
    <nav th:insert="fragments/general.html :: navbar"> </nav>

    <section class="container-fluid content mt-5">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 text-center my-ads-board">
                <div id="boardWithMyAds" th:replace="fragments/board-my-ads.html :: board-my-ads"></div>
            </div>
            <div id="editAdForm" class="col-md-5"></div>
            <div class="col-md-1"></div>
        </div>
    </section>
    <div id="confirmDeleteContainer"></div>

    <footer class="fixed-bottom" th:insert="fragments/general.html :: footer"></footer>
</body>
</html>