#mapid 
{ 
	height: 600px;
	width: auto;
}

p
{
    font-size: 0.9em;
}

.body-img
{
    background-color: #ffe6e6;
}

.img-fluid
{
    height: 600px;
    width: auto;
    opacity: 0.6;
}

.red
{
    color: #e62e00;
}

.hover:hover
{
    cursor: pointer;
    color: #e62e00;
}

.error
{
    color: #e62e00;
    font-weight: bold;
    text-align: center;
}

.login-form
{
    padding-top: 10%;
}

.city-filter
{
    padding-bottom: 1em;
    font-size: 1.2em;
}

.city-filter:hover
{
    cursor: pointer;
    color: #e62e00;
}