#mapid 
{ 
	height: 600px;
	width: auto;
}

.body-img
{
    background-color: #ffe6e6;
}

.img-fluid
{
    height: 600px;
    width: auto;
    opacity: 0.6;
}

.red
{
    color: #e62e00;
}

.hover:hover
{
    cursor: pointer;
}

.error
{
    color: #e62e00;
    font-weight: bold;
    text-align: center;
}

.login-form
{
    padding-top: 10%;
}