<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div id="locationModal"
     class="modal fade"
     role="dialog"
     th:fragment="locationModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>DUPA</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        th:text="#{general.button.close}"></button>
            </div>
        </div>
    </div>
</div>
