<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
	</head>
	<body>

	<nav th:insert="fragments/general.html :: navbar"> </nav>

	<section class="container-fluid content pt-5">
		<div class="row">
			<div class="col-md-7">
				<div id="mapid"></div>
			</div>
			<div class="col-md-5 p-0 text-center justify-content-center">
					<div id="board"
                         th:each="ad : ${ads}">
						<div>
                            <h3 th:text="${ad.title}"
                                class="hover"></h3>
                            <div style="display: none;">
                                <p class="px-2 d-flex justify-content-end"
                                   th:text="${ad.created}"></p>
                                <p th:text="${ad.details}"></p>
                            </div>
                            <hr>
                        </div>
					</div>
			</div>
		</div>
	</section>

	<footer th:insert="fragments/general.html :: footer"> </footer>
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/

    var y = /*[[${city.getY()}]]*/ 51.55;
    var x = /*[[${city.getX()}]]*/ 19.08;
    var zoom = /*[[${city.getZoom()}]]*/ 6;

    $(document).ready(function() {
    	showMap(y, x, zoom);
    });

	/*]]>*/
	</script>
	</body>
</html>
