
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<th:block th:include="fragments/general.html :: headerfiles"></th:block>
	</head>
	<body>

	<nav th:insert="fragments/general.html :: navbar"> </nav>

	<section class="container-fluid content pt-5">
		<div class="row">
			<div class="col-md-8">
				<div id="mapid"></div>
			</div>
			<div class="col-md-4 p-0 text-center justify-content-center">
				<div id="board">
					<h3 th:text="#{general.about}"></h3>
					<p th:text="#{about.text}"></p>
				</div>
			</div>
		</div>
	</section>

	<footer th:insert="fragments/general.html :: footer"> </footer>
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/

    var y = /*[[${city.getY()}]]*/ 51.55;
    var x = /*[[${city.getX()}]]*/ 19.08;
    var zoom = /*[[${city.getZoom()}]]*/ 6;

    $(document).ready(function() {
    	showMap(y, x, zoom);
    });

	/*]]>*/
	</script>
	</body>
</html>
