<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body class="body-img">
<section class="container-fluid content">
    <div class="row login-form">
        <div class="col-md-4"></div>
        <div class="col-md-4 border border-secondary bg-white">
            <div class="d-flex justify-content-between py-3">
                <h3><i class="far fa-user"></i> Login</h3>
                <a class="btn btn-danger" role="button" href="/trash-resque/register">Register</a>
            </div>
            <form th:action="@{/login}" method="post">
                <hr>
                <p th:if="${loginError}" class="error">Bad credentials</p>
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input class="form-control" type="text" id="username" name="username" autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input class="form-control" type="password" id="password" name="password" />
                </div>
                <hr>
                <div class="d-flex justify-content-center py-3">
                    <button type="submit" class="btn btn-success px-3">Log in</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</section>
    <footer class="fixed-bottom" th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>
