<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body class="body-img">
<section class="container-fluid content">
    <div class="row my-5 py-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 border border-secondary bg-white">
            <div class="d-flex justify-content-between py-3">
                <h3><i class="fas fa-user-plus"></i> Register</h3>
            </div>
            <form method="POST" th:object="${newUser}">
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('username')} ? is-invalid : ''" id="username" placeholder="username"  th:field="*{username}" autofocus="autofocus">
                        <small class="form-text red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" th:classappend="${#fields.hasErrors('email')} ? is-invalid : ''" id="email"  th:field="*{email}" placeholder="email">
                        <small class="form-text red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('firstName')} ? is-invalid : ''" id="firstName"  th:field="*{firstName}" placeholder="first name">
                        <small class="form-text red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('lastName')} ? is-invalid : ''" id="lastName"  th:field="*{lastName}" placeholder="last name">
                        <small class="form-text red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" th:classappend="${#fields.hasErrors('password')} ? is-invalid : ''" id="password"  th:field="*{password}" placeholder="password">
                        <small class="form-text red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="confirmPassword">Confirm password</label>
                        <input type="password" class="form-control" th:classappend="${#fields.hasErrors('confirmPassword')} ? is-invalid : ''" id="confirmPassword"  th:field="*{confirmPassword}" placeholder="confirm password">
                        <small class="form-text red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                    </div>
                </div>

                <p class="alert alert-warning" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></p>

                <hr>
                <div class="d-flex justify-content-center py-3">
                    <a class="btn btn-danger mx-2" role="button" href="/trash-resque">Cancel</a>
                    <button type="submit" class="btn btn-success mx-2">Submit</button>
                </div>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>
</section>
    <footer th:insert="fragments/general.html :: footer"> </footer>
</body>
</html>